*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    margin: 0 auto;
}
.page-header{
    width: 960px;
    height: 74px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jiker-logo-container{
    cursor: pointer;
}
.login-container{
    display: flex;
}
.login-line{
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.5;
}
.login-text:hover{
    cursor: pointer;
    color: RGBA(57, 195, 95, 1);
}
.banner-container{
    min-width: 960px;
    height: 426px;
    background: url(./images/banner.jpg) no-repeat center;
    text-align: center;
    padding-top: 150px;
}
.banner-title{
    color: white;
    font-size: 40px;
}
.navigator-bar{
    display: flex;
    height: 74px;
    max-width: 1920px;
    min-width: 960px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #153188;
    z-index: 9999;
}
.nav{
    width: 192px;
    height: 74px;
    color: white;
    font-size: 16px;
    line-height: 74px;
    text-align: center;
}
.navigator-bar.fixed-navs{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}
.nav.active{
    background-color: #2e4ead;
}
.nav:hover{
    cursor: pointer;
    background-color: #2D4694;
}
.mainer-container{
    width: 960px;
    margin: 0 auto;
}
.course-intro-container{
    margin-bottom: 62px;
    padding-top: 8px;
}
.part-title-container{
    position: relative;
    width: 140px;
    height: 42px;
}
.part-title{
    position: absolute;
    top: -10px;
    left: 24px;
    font-size: 20px;
    color: #153188;
    font-family: Lantinghei SC;
    font-weight: 600;
}
.course-intro-text{
    width: 940px;
    font-size: 14px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #333333;
    line-height: 30px;
    margin-top: 30px;
    text-align: justify;
}
.course-watch-container{
    padding-top: 8px;
}
.video-container{
    margin-top: 29px;
    width: 960px;
    height: 540px;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    background: url(./images/v.jpg) no-repeat center;
}
video{
    width: 960px;
    height: 540px;
}
/*.video-part{
    position: relative;
}
.video-control{
    width: 24px;
    height: 30px;
    box-sizing: content-box;
    background: transparent;
    border-top: rgba(255, 255, 255) solid 22px;
    border-bottom: rgba(255, 255, 255) solid 22px;
    border-left: rgba(255, 255, 255) solid 25px;
    border-right: rgba(255, 255, 255) solid 25px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 444px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.control-center{
    width: 26px;
    height: 32px;
    border-left: transparent solid 26px;
    border-top: rgba(255, 255, 255) solid 16px;
    border-bottom:rgba(255, 255, 255) solid 16px;
    border-right: 0px;
}*/
.list-title{
    width: 960px;
    text-align: left;
    font-size: 18px;
    font-family: MicrosoftYaHei;
    font-weight: 500;
    color: #333333;
    line-height: 11px;
    margin-top: 25px;
}
.list-subtitle{
    margin-top: 14px;
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #999999;
    line-height: 11px;
    letter-spacing: 1.5px;
}
.list-mainer{
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 18px;
}
.list-mainer-left{
    width: 700px;
    display: flex;
    flex-direction: column;
}
.list-part-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 40px;
    background: #F7F7F7;
    padding-left: 23px;
    padding-right: 20px;
}
.list-part-lefttitle{
    display: flex;
    align-items: center;
}
.list-part-lefttitle-btn{
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
}
.arrow-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 6px 3px 6px 3px;
    transition: all 0.4s;
}
.arrow-icon.unshow{
    transform: rotate(-90deg);
    transform-origin: center;
}
.list-part-lefttitle-text{
    padding-left: 8px;
    display: inline-block;
    height: 20px;
    font-size: 14px;
    font-family: Lantinghei SC;
    font-weight: 600;
    color: #333333;
    line-height: 20px;
}
.list-part-righttitle{
    background: url(./images/download-icon.png) no-repeat center;
    width: 20px;
    height: 18px;
    cursor: pointer;
}
.list-part-righttitle:hover{
    background: url(./images/download-icon-hover.png) no-repeat center;
}
.list-part-content-container{
    overflow: hidden;
    transition: height 1s;
}
.list-part-content-container.close{
    height: 0px;
}
.list-part-content{
    width: 700px;
    height: 40px;
    box-shadow: 0px -1px 0px 0px #F5F5F5;
    background: #FFFFFF;
    padding-left: 51px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}
.list-part-leftcontent,.list-part-rightcontent{
    font-size: 12px;
    font-family: FZLTHK;
    font-weight: normal;
    color: #666666;
    line-height: 40px;
}
.list-part-content:hover {
    cursor: pointer;
}
.list-part-content:hover > .list-part-leftcontent{
    color: #009DF7;
}
.list-mainer-right{
    width: 230px;
}
.course-info-title{
    font-size: 16px;
    font-family: Lantinghei SC;
    font-weight: 600;
    color: #333333;
}
.course-info-content{
    width: 100%;
}
.course-info-subtitle{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #999999;
    display: inline-block;
    margin-top: 15px;
}
.people-text{
    margin-top: 2px;
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #666666;
}
.number-text{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #666666;
    margin-left: 11px;
}
.tag-line1{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 5px 0;
}
.course-tag{
    background: #F5F5F5;
    border-radius: 2px 2px 2px 2px;
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #666666;
    margin-right: 10px;
    padding: 0px 5px;
}
.tag-line2{
    width: 45px;
    margin-bottom: 10px;
    margin-bottom: 35px;
}
.weibo-container{
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.weobo-text{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #666666;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-left: 15px;
}
.qq-text-container{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.qq-text{
    height: 45px;
    margin-left: 15px;
}
.qq-group{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #666666;
    margin-bottom: 4px;
}
.qq-btn{
    display: inline-block;
    height: 22px;
    background: #00A8FF;
    border-radius: 2px;
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
    text-align: center;
    padding: 0 12px;
    cursor: pointer;
}
.qq-qr-code{
    position: relative;
    right: -45px;
    top: 2px;
}
.teachers-block-container{
    height: 280px;
    overflow: hidden;
    position: relative;
}
.teachers-block{
    position: relative;
    display: flex;
    height: 100%;
}
.teacher-card{
    width: 240px;
    height: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}
.teacher-name{
    font-size: 14px;
    font-family: Lantinghei SC;
    font-weight: 550;
    color: #333333;
    line-height: 11px;
    margin-top: 10px;
}
.teacher-status{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #999999;
    line-height: 18px;
    text-align: center;
    margin: 10px 0 10px 0;
}
.teacher-intro{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #666666;
    line-height: 18px;
}
.arrow{
    position: absolute;
    width: 25px;
    height: 40px;
    background: #9EACB8;
    opacity: 0.3;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    top: 45%;
}
.arrow:hover{
    background: #9EACB8;
    opacity: 0.8;
}
.arrow-left{
    left: 5px;
}
.arrow-right{
    right: 5px;
}
.dragonboard-container{
    margin-top: 25px;
    margin-bottom: 70px;
}
.dragonboard-intro-container{
    width: 100%;
    margin-top:30px ;
    display: flex;
    box-sizing: content-box;
    height: 210px;
}
.dragonboard-img{
    width: 300px;
    height: 210px;
    margin-right: 21px;
}
.dragonboard-intro-title{
    font-size: 20px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #333333;
    margin-bottom: 12px;
}
.dragonboard-intro-text{
    font-size: 13px;
    font-family: FZLTHK;
    font-weight: normal;
    color: #666666;
    line-height: 22px;
}
.dragonboard-intro-btn{
    display: inline-block;
    width: 130px;
    height: 40px;
    border: 1px solid #00A8FF;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    font-size: 15px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #00A8FF;
    line-height: 40px;
    cursor: pointer;
    margin-top:18px ;
    margin-right: 15px;
}
.dragonboard-intro-btn:hover{
    background: #00A8FF;
    color: #FFFFFF;
}
.more-prodution-container{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    align-items: center;
}
.more-prodution-title{
    width: 65px;
    height: 15px;
    font-size: 15px;
    font-family: FZLTHK;
    font-weight: normal;
    color: #666666;
    line-height: 15px;
}
.more-prodution{
    height: 30px;
    background: #CAEAEF;
    font-size: 12px;
    font-family: FZLTHK;
    font-weight: normal;
    color: #1C7C89;
    line-height: 30px;
    border-radius: 15px;
    padding: 0 18px 0 18px;
    cursor: pointer;
    margin-left: 10px;
}
.more-prodution:hover{
    background: #cce5eb;
}
.dragonboard-link-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 960px;
    height: 120px;
}
.link-card{
    width: 300px;
    height: 120px;
    text-align: center;
    font-size: 16px;
    font-family: MicrosoftYaHei;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 24px;
}
.link-card.card1{
    background: url(./images/bg_red.jpg) no-repeat center;
    padding-top: 50px;
}
.card2{
    background: url(./images/bg_ora.jpg) no-repeat center;
    padding-top: 35px;
}
.card3{
    background: url(./images/bg_blue.jpg) no-repeat center;
    padding-top: 35px;
}
.about-links{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}
.about-card{
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center
}
.about-card-title{
    font-size: 14px;
    font-family: Lantinghei SC;
    font-weight: 600;
    color: #333333;
    margin: 22px 0 5px 0;
}
.about-card-subtitle{
    font-size: 12px;
    font-family: Lantinghei SC;
    font-weight: 400;
    color: #999999;
}
.about-card img{
    cursor: pointer;
}
.about-card-btn{
    width: 91px;
    height: 32px;
    background: #00A8FF;
    border-radius: 2px 2px 2px 2px;
    font-size: 14px;
    font-family: Lantinghei SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    margin-top: 15px;
}
.about-container{
    margin-bottom: 300px;
}
.navigator-bar-container{
    height: 74px;
    box-sizing: content-box;
    margin-bottom: 70px;
}