*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 1080px;
  margin: 0 auto;
}
.label{
  float: left;
}

/* lisr-item */
.flow-list{
  width: 952px;
  height: 120px;
}
.list-sublabel{
  float: left;
  margin: 40px 24px 16px 10px;
}
.list-subtitle{
  padding-top: 45px;
  margin-bottom: 4px;
  font-size: 22px;
  color: #000;
}
.list-tips{
  font-size: 16px;
  color: #333;
}
.flow-item{
  display: flex;
  justify-content: space-around;
  width: 952px;
  height: 212px;
}
.item-container{
  width: 290px;
  height: 212px;
  cursor: pointer;
}
.item-content{
  width: 100%;
  height: 100%;
  background: url(../image/block.png) no-repeat center;
}
.item-photo{
  padding: 13px 0 17px;
  margin: 0 auto;
  width: 80px;
  height: 110px;
}
.item-name{
  margin: 0 auto;
  width: 100px;
  height: 24px;
  font-size: 18px;
  color: #000;
  text-align: center;
}
.item-description{
  margin: 4px 0 0 12px;
  width: 277px;
  height: 60px;
  font-size: 14px;
  color: #000;
  line-height: 20px;
}

/* page-header */
.page-header{
  height: 540px;
}
.banner{
  height: 668px;
  min-width: 1000px;
  margin: 0 auto;
  background: url(../image/banner.png) no-repeat center;
}
.logo-block{
  display: block;
  height: 73px;
  width: 186px;
  padding: 16px 37px;
}

/* page-mainer */
.page-mainer .container{
  height: 3870px;
  padding: 0 64px;
  background: url(../image/scroll-painting.png) no-repeat center;
}

/* activity-section */
.activity-section{
  height: 300px;
}
.activity-section .label{
  margin-top: 46px;
}
.activity-description{
  padding-top: 114px;
}
.activity-title{
  margin: 0 auto 25px;
  width: 300px;
  height: 35px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  line-height: 35px;
}
.activity-content{
  margin: 0 auto;
  width: 800px;
  height: 52px;
  font-size: 16px;
  color: #000;
  line-height: 26px;
  text-align: center;
}

/* course-section */
.course-section{
  padding-bottom: 40px;
}
.course-section .label{
  margin-top: 25px;
}
.course-description{
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  height: 200px;
}
.course-content{
  padding-top: 70px;
  width: 518px;
  height: 100%;
  font-size: 16px;
  color: #000;
  line-height: 26px;
}

/* project-section */
.project-section .label{
  margin-top: 30px;
}
.project-description{
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  height: 205px;
}
.project-content{
  padding-top: 76px;
  width: 518px;
  height: 100%;
  font-size: 16px;
  color: #000;
  line-height: 26px;
}
.project-footer{
  float: right;
  padding: 16px 0;
  margin-right: 14px;
  width: 185px;
  height: 70px;
  font-size: 14px;
  color: #666;
  text-align: right;
}

/* wishes-section */
.wishes-section{
  padding-top: 70px;
}
.wishes-section .label{
  margin-top: 20px;
}
.wishes-description{
  padding-top: 40px;
}
.wishes-title{
  margin: 0 auto 25px;
  width: 330px;
  height: 35px;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  line-height: 35px;
}
.wishes-content{
  display: flex;
}
.wishes-content-left{
  padding: 0 18px;
  width: 390px;
  height: 280px;

}
.wishes-message{
  margin-bottom: 12px;
  font-size: 14px;
  text-decoration: underline;
  color: #000;
  line-height: 26px;
}
.wishes-activities{
  font-size: 12px;
  color: #000;
}
.wishes-activities-top,.wishes-activities-bottom{
  display: flex;
  margin-top: 6px;
}
.regulation-content p{
  margin-bottom: 6px;
}
.wishes-content-right{

}
.wishes-gift{
  display: flex;
}
.gift-blue-block,.gift-orange-block{
  margin: 0 6px;
  width: 238px;
  height: 258px;
  text-align: center;
}
.gift-blue-block{
  position: relative;
  background: url(../image/blue-block.png) no-repeat center;
}
.gift-blue-block::after{
  position: absolute;
  bottom: -18px;
  left: 50%;
  transform: translateX(-50%);
  content: "恭喜xiaobao032获得 U型枕";
  width: 203px;
  font-size: 16px;
  color: #000;
}
.gift-orange-block{
  background: url(../image/orange-block.png) no-repeat center;
}
.gift-index{
  margin-top: 65px;
  font-size: 18px;
}
.gift-blue-block .gift-index{
  color: #CAECFF;
}
.gift-orange-block .gift-index{
  color: #FFDEBD;
}
.gift-form{
  padding: 8px 0 8px 0;
  height: 88px;
  font-size: 20px;
}
.gift-blue-block .gift-form{
  color: #EBF8FF;
  line-height: 72px;
}
.gift-orange-block .gift-form{
  color: #FFF5EB;
  line-height: 24px;
}
.gift-btn{
  display: inline-block;
  width: 136px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 1px 1px 5px 0 rgba(75,155,197,0.49);
  cursor: pointer;
}
.gift-blue-block .gift-btn{
  color: #3E86AB;
  background-color: #EBF4FF;
}
.gift-orange-block .gift-btn{
  color: #A96E37;
  background-color: #FFF3EB;
}
.wishes-send-box{
  display: flex;
  margin: 20px auto;
  width: 800px;
  height: 86px;
}
.wishes-search{
  padding: 16px;
  width: 650px;
  height: 100%;
  font-size: 16px;
  color: #000;
  background: url(../image/btn-block.png) no-repeat center;
  border: none;
  resize: none;
}
.wishes-search::placeholder{
  color: #D9D9D9;
}
.wishes-btn{
  padding: 20px 0;
  width: 150px;
  height: 100%;
  font-size: 16px;
  color: #666;
  text-align: center;
  background: linear-gradient(0deg, rgba(235, 235, 235, 1), rgba(250, 250, 250, 1));
  border: 1px solid rgba(219, 219, 219, 1);
  cursor: pointer;
}
.wishes-wall{
  position: relative;
  padding: 20px;
  width: 100%;
  height: 520px;
}
.whshes-scrip{
  position: absolute;
  padding: 16px;
  width: 320px;
  height: 160px;
  font-size: 15px;
  color: #000;
  line-height: 24px;
   background: linear-gradient(0deg, #F0F5FF 95%, rgba(215, 219, 235, .5) 0); 
  /* background: linear-gradient(0deg, #F1FFF0 95%, rgba(220, 235, 215, .5) 0); */
  /* background: linear-gradient(0deg, #FEFFF0 95%, rgba(226, 227, 201, .5) 0); */
  /* background: linear-gradient(0deg, #FFF0F0 95%, rgba(235, 215, 215, .5) 0); */
  background-size: 100% 21px;
  border: 1px solid rgba(213, 214, 234, .9); 
  /* border: 1px solid rgba(219, 234, 213, .9); */
  /* border: 1px solid rgba(243, 244, 223, .9); */
  /* border: 1px solid rgba(234, 213, 213, .9); */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .05);
}
.whshes-scrip::after{
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 350px;
  height: 46px;
  background: url(../image/decorate.png) no-repeat center;
}
.whshes-scrip.show .scrip-close{
  position: absolute;
  top: -20px;
  right: 0;
  z-index: 9999;
  width: 15px;
  height: 23px;
  background: url(../image/close.png) no-repeat center;
  cursor: pointer;
}

/* page-footer */
.page-footer .container{
  height: 132px;
  padding: 40px 0;
  text-align: center;
}
.footer-content{
  font-size:16px;
  color: #000;
  line-height:26px;
}
.footer-contact{
  font-size:12px;
  color: #000;
  line-height:26px;
}