*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    font-size: 12px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.header{
    padding-top: 30px;
    position: relative;
}
.logo{
    display: inline-block;
    margin-left: 60px;
    width: 80px;
}
video{
    position: absolute;
    right: 0%;
    top: 0%;
    height: 100%;
    z-index: -9999;
}
.right-header{
    display: inline-block;
    position: absolute;
    right: 150px;
}
.beta{
    position: relative;
    top: 6px;
}
.right-header a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-left: 30px;
    position: relative;
    top: 3px;
}
.unmute{
    width: 15px;
    margin-left: 20px;
    position: relative;
    top: 5px;
}
.mainer{
    flex:1;
    text-align: right;
    margin-top: 250px;
}
.slogan{
    padding-right: 150px;
    width: 450px;
    margin-bottom: 30px;
}
.download{
    padding-right: 150px;
}
.download img{
    margin-right: 5px;
    height: 40px;
}
.footer{
    text-align: center;
    padding-bottom: 10px;
    font-size: 10px;
}
.ft-link{
    margin-bottom: 15px;
}.ft-info{
    line-height: 180%;
}
.ft-info img{
    height: 14px;
}