* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: arial;
}
.page-header {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding-left: 24px;
  padding-right: 24px;
}
.page-header a {
  text-decoration: none;
  color: #000000bf;
  margin-right: 16px;
}
#left {
  color: #fd6853;
  font-weight: 700;
}
#more:hover {
  color: #fd6853;
}
.sun {
  width: 15px;
  height: 15px;
  margin-left: 8px;
  margin-right: 8px;
}
.line {
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #d6d2d2;
  border: 0;
  margin: 0px 8px;
}
#right {
  background-color: #fd6853;
  color: aliceblue;
  width: 75px;
  height: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  line-height: 20px;
  margin-left: 8px;
}
.page-mainer {
  flex: 1;
  text-align: center;
  margin-top: 120px;
}
form {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.search {
  width: 700px;
  height: 40px;
  border: 1px solid #ababab;
  border-right: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  outline: none;
  font-size: 18px;
}
.submit-btm {
  width: 100px;
  height: 40px;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #ababab;
  border-left: 1px solid #e0e0e0;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.submit-btm:hover {
  background-color: #e0e0e0;
}
.page-footer {
  text-align: center;
  margin-bottom: 35px;
}
.qrcode {
  color: #000000bf;
  font-weight: 700;
  margin-bottom: 20px;
}
.qrcode img {
  width: 100px;
  height: 100px;
}
.ft-link img {
  width: 13px;
  height: 18px;
}
.ft-info a,
.ft-info span,
.ft-link a {
  color: #00000080;
  line-height: 200%;
  text-decoration: none;
}
