* {
  margin: 0;
  padding: 0;
}
.card {
  margin: 150px auto;
  width: 660px;
  height: 400px;
  border: 1px solid #ececec;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.none {
  display: none;
}
.header {
  background-color: #ececec;
  height: 40px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 40px;
  text-align: right;
  font-size: 10px;
  padding-right: 20px;
  box-sizing: border-box;
  color: #bbbbbb;
}
.line {
  height: 2.5px;
  background-color: #dfdfdf;
  position: relative;
}
.black-line {
  position: absolute;
  left: 0px;
  height: 2.5px;
  background-color: #8f8f8f;
  width: 100px;
}
.title {
  margin: 25px 25px 10px 25px;
  width: 610px;
  height: 35px;
}
.option-containers {
  margin-left: 25px;
  width: 610px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container {
  border: 2px solid #ececec;
  width: 610px;
  height: 40px;
  border-radius: 5px;
}
.option:hover {
  cursor: pointer;
}
.container.true {
  background-color: #59c014;
}
.container.true::after {
  content: "√";
  color: #ffffff;
}
.container.false {
  background-color: #e03838;
}
.container.false::after {
  content: "×";
  color: #ffffff;
  font-size: 20px;
}
.option {
  margin-top: 9px;
  margin-left: 12px;
  background-color: #ececec;
  border-radius: 3px;
  width: 560px;
  padding-left: 10px;
}
.option.true {
  display: inline-block;
  color: #ffffff;
  background-color: #3d880b;
}
.option.false {
  display: inline-block;
  color: #ffffff;
  background-color: #880b0b;
}
.footer {
  position: absolute;
  width: 150px;
  height: 40px;
  background-color: #e76114;
  color: #ffffff;
  right: 25px;
  bottom: 15px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}
.footer:hover {
  cursor: pointer;
}
