*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-width: 1200px;
    background: #F5F5F5;
    z-index: -100;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}
.header{
    width: 100%;
    height: 64px;
    background: #FFFFFF;
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 65px;
    height: 25px;
    margin-right: 50px;
    margin-left: 0
}
.left-header{
    display: flex;
    flex-wrap: nowrap;
}
.left-header a{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    text-decoration: none;
    margin-left: 30px;
    white-space: nowrap;
}
.search input{
    width: 246px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 286px;
    outline: none;
    padding-left: 8px;
    box-sizing: border-box;
}
input::placeholder{
    margin-left: 8px;
    opacity: 0.6;
}
.right-header {
    display: flex;
    justify-content: flex-end;
}
.right-header div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.study img{
    width: 19px;
    height: 19px;
    margin-left: 64px;
}
.user-info{
    margin-left: 36px;
}
.study a,.user-info a{
    width: 56px;
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    margin-left: 8px;
    white-space: nowrap;
}
.person{
    width: 32px;
    height: 32px;
}
.banner{
    background-image: url(./bannerBG.png);
    width: 100%;
    height: 184px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text1{
    width: 1180px;
    height: 20px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
    text-align: left;
    position: absolute;
    top: 20px;
}
.banner-text2{
    display: inline-block;
    height: 36px;
    font-size: 28px;
    font-family: AlibabaPuHuiTiH;
    color: #FFFFFF;
    line-height: 36px;
    position: absolute;
    top: 56px;
    text-align: center;
}
.small-line{
    display: inline-block;
    width: 1px;
    height: 8px;
    background: rgba(255, 255, 255, 0.25);
    border: 0;
    margin: 0px 16px;
}
.banner-text3{
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 22px;
    position: absolute;
    top: 108px;
    text-align: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    width: 1180px;
    height: 32px;
    font-size: 24px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 32px;
    margin: 40px 0 0 0; 
    text-align: left;
}
.line{
    width: 1180px;
    height: 306px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.subtitle{
    width: 1180px;
    height: 26px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    margin-top: 30px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.line-background{
    display: inline-block;
    width: 4px;
    height: 16px;
    background: rgba(27, 3, 238, 0.2);
    position: relative;
    margin-right: 14px;
}
.line-middle{
    display: inline-block;
    width: 4px;
    height: 10px;
    background: #1764e8;
    position: absolute;
    top: 3px;
    right: 0px;
}
.part1,.part2{
    width: 280px;
    height: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.pt-img img{
    width: 280px;
    height: 162px;
    background: #A8071A;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.pt1-text1{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    margin: 19px 0 0 16px;
    cursor: pointer;
}
.pt1-text2{
    height: 44px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin: 12px 0 0 16px;
}
.pt1-text3{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    margin: 10px 0 0 16px;
    cursor: pointer;
}
.pt2-text1{
    height: 26px;
    font-size: 18px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 26px;
    margin: 16px 0 0 16px;
    cursor: pointer;
}
.pt2-text2{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin: 34px 0 0 16px;
}
.pt2-text3{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    line-height: 22px;
    margin: 8px 0 0 16px;
    cursor: pointer;
}
.blank-line{
    width: 1180px;
    height: 183px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blank-img{
    width: 182px;
    height: 111px;
}
.blank-text{
    height: 24px;
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.45);
    line-height: 24px;
}
.mainer{
    position: relative;
}
.aside{
    position: absolute;
    top: 148px;
    right: 70px;
}
.aside-btm{
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 12px 4px -3px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-btm:hover{
    background: blue;
}
.ft-link{
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.ft-link span{
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
    margin: 0 22px 0 22px;
    opacity: 0.8;
}
.ft-link span:hover{
    cursor: pointer;
    opacity: 1.0;
}
.ft-info{
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 48px;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.45);
    line-height: 48px;
    text-align: center;
}